.container {
    display: flex;
    flex-direction: column;
    position: absolute;

    top: 55px;
    right: -120px;
    width: 300px;
    margin-top: 5px;
    padding: 0 10px;

    background-color: #F3F3F3;
    border-bottom: 1px solid rgb(184, 184, 184);
    border-left: 1px solid rgb(184, 184, 184);
    border-right: 1px solid rgb(184, 184, 184);
    border-radius: 10px;
    z-index: 15;
}

.content {
    display: flex;
    padding: 4px 0;
    border-bottom: 1px solid #fff;
}

.info {
    display: flex;
    width: 200px;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 5px;
}

.p {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: 0;
}

a.link {
    margin: 0;
    color: #4b8beb;
    text-decoration: underline solid #679df0;
    transition: all 0.1s linear;
    cursor: pointer;
}
a.link:hover {
    color: #156ae9;
}

.remove {
    font-size: 25px;
    color: #000;
    transition: all 0.1s linear;
    cursor: pointer;
}

.remove:hover {
    transform: scale(1.1);
}