.container {
    width: 220px;
    height: 300px;

    margin: 0 0 20px 20px;

    box-shadow: 2px 5px 10px 0 rgba(80, 80, 80, 0.1);
    border-radius: 20px;
    background-color: #F3F3F3;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    height: calc(100% - 200px);

    padding-left: 10px;
}

.info>section {
    display: flex;
    flex-direction: column;
    align-items: start;

    width: 100%;
}

.price {
    font-size: 18px;
    font-weight: bold;
}